<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <div class="screen">
      <form action="/update/<%= filename%>" method="post">
        <textarea name="filedata" id="" cols="30" rows="10"><%= filedata%></textarea>
        <button>update file</button>
      </form>
    </div>
    <div class="panel">
      <form action="/create" method="post">
        <input type="text" name="filename" placeholder="filename.ext">
      </form>
    </div>

    <ol>
      <% files.forEach( (file)=> {%>
        <li>
          <a href="/file/<%= file%>"><%= file%></a>
          <a href="/delete/<%= file%>">❌</a>
        </li>
        <%})%>
    </ol>
  </div>

</body>

</html>